<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/worktest/src/oop/Chap06/constructor/MethodCallExam.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oop.Chap06.constructor.MethodCallExam"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="worktest"/>
</launchConfiguration>
